streamlit
xhtml2pdf
fpdf2
pandas
matplotlib
reportlab
python-docx
Pillow
jinja2
python-dateutil
openpyxl
firebase-admin
pyrebase4
pycryptodome
google-auth
google-auth-oauthlib
google-cloud-firestore
google-cloud-storage
requests
setuptools
wheel
