# Core
streamlit

# PDF/HTML to PDF (ensure cloud-safe)
xhtml2pdf
reportlab
fpdf2
Pillow
jinja2
python-dateutil

# Data & Visualization
pandas
openpyxl

# Firebase / Google
firebase-admin
pyrebase4
pycryptodomex
google-auth
google-auth-oauthlib
google-cloud-firestore
google-cloud-storage

# Utils
requests   

cairocffi
cffi
streamlit_pdf
matplotlib